@import '~ant-design-vue/es/style/themes/default.less';
@font-face {
  font-family: 'AlibabaPuHuiTi-Light';
  src: url('./assets/font/AlibabaSans-Light.otf');
}

html,
body,
#app, #root {
  height: 100%;
}

body {
  font-family: 'AlibabaPuHuiTi-Light'
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}


// 数据列表 样式
.table-alert {
  margin-bottom: 16px;
}
// 数据列表 操作
.table-operator {
  margin-bottom: 18px;

  button {
    margin-right: 8px;
  }
}
// 数据列表 搜索条件
.table-page-search-wrapper {

  .ant-form-inline {
    .ant-form-item {
      display: flex;
      margin-bottom: 24px;
      margin-right: 0;

      .ant-form-item-control-wrapper {
        flex: 1 1;
        display: inline-block;
        vertical-align: middle;
      }

      > .ant-form-item-label {
        line-height: 32px;
        padding-right: 8px;
        width: auto;
      }
      .ant-form-item-control {
        height: 32px;
        line-height: 32px;
      }
    }
  }

  .table-page-search-submitButtons {
    display: block;
    margin-bottom: 24px;
    white-space: nowrap;
  }
}

// 菜单标签
.ant-tabs {
  &.ant-tabs-card {
    .ant-tabs-card-bar {
      .ant-tabs-tab {
        border: 0;
        border-bottom: 1px solid #e8e8e8;
        background-color: #fff;
        color: #ccc;
        padding: 0 20px;

        &:hover {
          padding-left: 13px;
          padding-right: 13px;

          .ant-tabs-close-x {
            width: 16px;
          }
        }

        .ant-tabs-close-x {
          width: 0;
        }
      }
      .ant-tabs-tab-active {
        border: 0;
        border-bottom: 3px solid @primary-color;
        padding-bottom: 0;
        color: @primary-color;
        .anticon-close {
          color: @primary-color;
        }
        .ant-tabs-close-x {
          width: 16px;
        }
      }
      .anticon-close {
        &:hover {
          border-radius: 40%;
          background-color: #ccc;
        }
      }
    }
    .ant-tabs-extra-content {
      .nav-tab-drop {
        margin-right: 8px;
        height: 28px;
      }
    }
  }
}

@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead > tr,
    &-tbody > tr {
      > th,
      > td {
        white-space: pre;
        > span {
          display: block;
        }
      }
    }
  }
}
